
h1{
    background-color: rgb(134, 64, 203);
    padding: 15px 14px;
    margin: 10px;
    border-radius: none;    
    float: left;
}

.numeros{
    float: left;
    padding: 20px 35px;
    border: 2px solid;
    margin-right:30px ;
    margin-left: 25%;
    margin-bottom: 100%;
    position: relative;
    font-size: 40px;
    margin-top: 10px
}

.btn{
    padding: 15px 30px;
    border-radius: 10%  ;
    margin-right: 100%;
    color: white;
    background-color: green;
  
    display: block;
    position: relative;
    
}

.btn1{
    background-color: red;
    color: white;
    padding: 15px 30px;
    border-radius: 10% ;
    margin-top: 15px;       
}

.advertencia{
    color : rgb(134, 64, 203);
    background-color: bisque;
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
}